.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 100vw;
  margin:0px;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  background-color: #000;
}

a{
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  text-align: left;
}

button{
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

input{
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 500;
  max-width: 370px;
  background-color: #000;
}

::-webkit-input-placeholder {
  color: #fff8;
}

